
html {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: #333;
    margin: 0;
    padding: 0;
    
}
.accessibility-bar-wrapper {
    position: relative;
    background-color: #E74C3C;
    color: #fff;
    min-height: 20px;
    padding-top: 5px;
    padding-bottom: 3px;
    width: 100%;
    font-size: .7em;
}
.accessibility-bar-wrapper .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.accessibility-bar-wrapper a {
    color: #fff;
    text-decoration: none;
}      
.accessibility-bar-wrapper a:not(:last-child) {
    margin-right: 20px;
}
.numero-acessibilidade {
    background-color: #fff;
    color: #E74C3C;
    padding: 0 2px 0 3px;
    margin-right: 4px;
    border: 1px solid #E74C3C;
}

.logo-sifilis{
    width: 200px;
    height: auto;
}

header {
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.08);
    margin-bottom: 2em;
}

header div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

header h1 {
    color: #E74C3C;
    font-family: 'Open Sans';
    font-size: 28px;
    font-weight: 300;
}
section.instructions {
    max-width: 70%;
    margin: 0 auto;
    margin-bottom: 5em;
}

#footer{
    /* max-width: 100vw; */
    margin-top: 5em;
    margin-bottom: 1em;
}
#footer img {
    width: 90%;
    height: auto;
    margin-left: 5%;
}

